.login {
  &__section {
    @include relative__viewport(100vw, 100vh);
    margin-bottom: -30px;
  }

  &__wrapper {
    @include centerHeight();
  }

  &__title {
    font-size: 28px;
    text-align: center;
  }

  &__form {
    margin: 0 auto;
    margin-top: 50px;
    width: 90%;

    &__btn {
      margin-top: 25px;
      float: right;
    }
  }
}
